h1{
    background-color: black;
    color: orange;
    text-align: center;
}
img.plantilla{
    width: 700px;
    height: 500px;
}
img.plant{
    width: 200px;
    height: 150px;
}
h3 {
    color: orange;
    background-color: black;
    text-align: center;
}
img{
    width: 150px;
    height: 190px;
}
p{
    font-weight: bold;
}
p.jornada{
    font-size: medium;
}
body{
    background-color: navajowhite;
text-align: center;
}
p.proximo{
    text-decoration: underline;
}
p.partidos{
    font-size: smaller;
}

